
/* Color scheme for AIM */
/* 
  Base (light blue from AI icon): #2595cb;
  Dark blue: #0d75bb; 
  lighter blue: #279ED8:
  Turquoise: #1dd8af;
*/
body {
    font-size: 16px;
    text-align: center;
}
.title {
    background-color: #0d75bb;
    color: white;
    font-size: 4rem;
    font-weight: 100;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.title p {
    font-size: 2rem;
    font-weight: 200;
    padding: 6px;
}
.announce {
    background-color: #279ED8;
    color: white;
    padding: 6px;
}
.icon {
    background: url("https://raw.githubusercontent.com/adapt-it/adapt-it-mobile/master/www/res/icon/ios/icon-83%402x.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border: 1px solid #fafafa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 96px;
    margin-right: 2rem;
    overflow: hidden;
    padding: 6px;    
    vertical-align: middle;
    width: 96px;
}
.promo {
    background-color: white;
    border-bottom: 1px solid #279ED8;
    padding: 3rem;
}
.video {
    background-color: white;
    padding: 3rem;
}
.site {
    padding: 1rem;
}
.benefits, .osnote {
    display: block;
    padding-bottom: 1rem;
    width: 100%;
}
.benefit {
    display: inline-block;
    margin: 6px;
    vertical-align: top;
    width: 350px;
}
.b-header {
    font-size: 1.4rem;
    margin-bottom: 6px;
}
.b-desc {
    font-size: 1rem;
}

/* 
*
* MEDIA QUERIES
*
*/

@media screen and (max-width: 499px) {
  /* iPhone, Android mdpi rules here */
    .icon {
        height: 48px;
        width: 48px;
    }
    .title {
        font-size: 2rem;
    }
    .title p {
        font-size: 1.4rem;
    }
}
@media screen and (min-width:500px) and (max-width: 800px) {
  /* iPhone, Android mdpi rules here */
    .icon {
        height: 64px;
        width: 64px;
    }
    .title {
        font-size: 3rem;
    }
    .title p {
        font-size: 1.8rem;
    }
}