.marker {
	display: block;
	color: #009900; /*green*/
	
}

.strip {
    display: block; 
}
.strip-header {
    color: black;
    text-align: center;
}

.strip .strip-header {
    float: left;
    height: 3.5em;
    /*margin: 10px 10px 20px 10px;*/
	margin-top: 10px;
    padding-top: 0.5em;
}

.strip .pile {
    float: left;
    height: 3.5em;
    margin-top: 10px;
    padding-top: 0.5em;

/*    border-radius: 5px;*/
}

.strip .ui-selecting {
    background-color: silver;
}
.strip .ui-selected {
    background-color: gray;
}

.strip-header {
}

.pile {
    color: black;
/*    background-color: #ffa;*/
    white-space: nowrap;
}

.pile .source {
/*    background-color: #fea;*/
    white-space: nowrap;
    padding: 0.1em;
}
.pile .target {
/*    background-color: #efa;*/
    white-space: nowrap;
    padding: 0.1em;
}
.pile .marker {
	white-space: nowrap;
	padding: 0.1em;
}

/* text colors */
.source {
	color: #0000aa; /* blue */
}
.specialtext {
	color: #aa0000; /* red */
}
.retranslation {
	color: #996633; /* brown */
}
.differences {
	color: #009900; /* green */
}

/*
.strip {
    display: block; 
}
.strip-header {
    color: black;
    background-color: #aaf;
    text-align: center;
}

.strip .strip-header,
.strip .pile {
    float: left;
    height: 3.5em;
    margin: 10px 10px 20px 10px;
    padding: 0.5em;

    border-radius: 5px;
}

.strip .ui-selecting {
    background-color: silver;
}
.strip .ui-selected {
    background-color: gray;
}

.strip-header {
}

.pile {
    color: black;
    background-color: #ffa;
    white-space: nowrap;
}

.pile .source {
    background-color: #fea;
    white-space: nowrap;
    padding: 0.1em;
}
.pile .target {
    background-color: #efa;
    white-space: nowrap;
    padding: 0.1em;
}
*/
.target input {
    padding: .2em;
    margin: 0;
}

/* navigation styles on the main / index page */
ul.btns {
	display: block;
	overflow: hidden;
	margin: 32px auto 0 auto;
	list-style: disc;
} 
.btns li {
	float: left;
	list-style: none;
}
.btns li a {
	position: relative;
	display: block;
	width: 64px;
	height: 64px;
	text-align: center;
	padding: 64px 18px 0 18px;
	text-decoration: none;
}
.sprite {
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.btn-settings span.sprite{
	top: 0;
	width: 64px;
	height: 64px;
	background-image: url("../img/preferences-system.png");
}
.btn-status span.sprite{
	top: 0;
	width: 64px;
	height: 64px;
	background-image: url("../img/status.png");
}
.btn-test span.sprite{
	top: 0;
	width: 64px;
	height: 64px;
	background-image: url("../img/book-test.png");
}
.btn-adapt span.sprite{
	top: 0;
	width: 64px;
	height: 64px;
	background-image: url("../img/adaptit.png");
}
		
