#container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.page {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.page.page-left {
    -webkit-transform: translate3d(-100%, 0, 1px);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.page-center {
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.page-right {
    -webkit-transform: translate3d(100%, 0, 1px);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
}