/* Color scheme for AIM */
/* 
  Base (light blue from AI icon): #2595cb;
  Dark blue: #1F7BA5; 
  lighter blue: #279ED8:
  Turquoise: #1dd8af;
  - secondary colors
  Cyan: #1ed6e2;
  Orange: #ff8c00;
  Burnt orange / brown: b26200;
*/
/* embedded fonts */
@font-face {
    font-family: "Andika";
    src: url("../font/Andika-R.woff") format('woff');
}
@font-face {
    font-family: "Gentium";
    src: url("../font/GentiumPlus-R.woff") format('woff');
}
@font-face {
    font-family: "Scheherazade";
    src: url("../font/Scheherazade-Regular.woff") format('woff');
}
.bg-darkblue {
    background-color: #1F7BA5;
    color: white;
}
.bg-body {
    background-color: rgb(221, 225, 225);
    color: #454545;
}
.bg-gradient {
background: #2595cb; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2595cb 0%, #18607f 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2595cb), color-stop(100%,#18607f)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #2595cb 0%,#18607f 100%); /* W3C */
}
.bg-blue {
    background-color: #2595cb;
    color: white;
}
.bg-lightblue {
    background-color: #279ED8;
    color: white;
}
.bg-turquise {
    background-color: #1dd8af;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    -webkit-touch-callout: none;
}
input[type="file"] {
    display: none;
}
.search-bar {
    padding:8px 14px 12px 8px;
}

.search-key {
    width: 100%;
}

/* featherlight / filter style overrides */
.featherlight-content {
    width: 90%;
}
.featherlight-inner {
    margin-left: 30px;
    margin-right: 30px;
}
.featherlight-inner h2 {
    border-bottom: 1px solid #333;
    font-weight: 800;
}
.featherlight-previous {
    left: 0;
    right: 90%;
}
.featherlight-previous span {
    color: #333;
    left: 0;
}
.featherlight-next {
    left: 90%;
    right: 0;
}
.featherlight-next span {
    color: #333;
}

.read-only {
    color: #933;
}
.read-write {
    color: #060;
}

/* welcome screen styles */
.splash-screen {
    /* fallback solid color */
/*
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
*/
    overflow: hidden;
/*    padding: 22px;*/
    vertical-align: middle;
    width: 90%;
}

.welcome-title {
    text-align: center;
}
.center {
    text-align: center;
}
.welcome-title h1 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 100%;
/*    padding-bottom: 0.5rem;*/
}
.welcome-title h2 {
    font-size: 1.1rem;
    font-weight: 200;
    padding-bottom: 2rem;
    padding-top: .5rem;
}
.x-small-input {
    width: 4rem;
}
.small-input {
    width: 6rem;
}
.welcome-logo {
    background: url('../svg/adapt-it-mobile-white.svg') no-repeat;
    background-size: cover;
    height: 96px;
    margin: 0 auto 6px auto;
    width: 96px;
}
.waiting {
    /* image from http://www.ajaxload.info/, freely licensed under the WTFPL */
    background: url('images/ajax-loader.gif') no-repeat;
    background-size: cover;
    height: 11px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    width: 43px;
}
.vertcenter {
    direction: ltr; /* override any RTL setting on the chapter */
    left: 50%;
    position: absolute;
    top: 50%;
    -o-transform: translate(-70%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container {
    height: 72%; 
    position: relative;
    width: 100%;
}
.topcoat-list li p:nth-of-type(2) {
    color:  #58C0FF ;
}
.topcoat-navigation-bar {
    height: auto;/*3.5rem;*/
    padding: 1px;
}
.topcoat-navigation-bar__item {
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
}
.main_title {
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    width:100%;
}
.small-pic {
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

.large-pic-bg {
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.large-pic {
    background-size: contain;
    bottom: 10px;
    display: none;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.page-body {
    padding: 14px 10px;
}

body {
 padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
 padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
.Footer {
 margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
 margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}

.topcoat-button-bar, .topcoat-icon-button--quiet {
    margin-top: 1px;
}
/* bigger hyperlink target */
.big-link {
    display:inline-block; 
    width:100%;
}

h1 {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
}

h2 {
    color: inherit;
    font: inherit;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
}

h3 {
    clear: both;
    color: inherit;
    font: inherit;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding-top: 12px;
}

header h3 {
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 0;
}

#WizardSteps, #OKCancelButtons {
    line-height: 0.5em;
    padding: 0;
    text-align: center;
}
#OKCancelButtons {
    padding-top: 6px;
}

.wizard-instructions {
    padding: 6px 6px 6px 6px;
}

.action-button {
    display: block;
    margin: 4px 0;
    text-align: center;
}
/* main page scrolling content*/
.scroller {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 70px;
}
/* most pages - top title bar, no toolbar */
.scroller-notb {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 57px;
}
/* wizard page scrolling content - leave room for ok / cancel / progress bar */
.scroller-bottom-tb {
    bottom: 61px;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 57px;
}
.bottom-tb {
    bottom: 0;
    left: 0;
    padding-bottom: 6px;
    position: fixed;
    right: 0;
}
#Spacer {
    height: 280px;
    width: 100%;
}
.hscroller {
    height: 200px;
    left: 10px;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    right: 10px;
    top: 80px;
    white-space: nowrap;
}
.fixfixed .scroller-tb,
.fixfixed .dropdown,
.fixfixed .main_title {
    position:absolute;
}
.control-row {
    padding-bottom: 3px;
    padding-top: 3px;
}
.control-group {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
/*    background: rgb(221, 225, 225);*/
    border: 1px solid #fafafa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 6px;
    overflow: hidden;
    padding: 6px;
    width: 95%;
}

.topcoat-icon--back {
    background: url("images/back_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--forward {
    background: url("images/forward_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-list__container {
    border-bottom: none;
    clear: both;
}

.topcoat-icon-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.topcoat-icon,
.topcoat-icon--large {
  display: inline-block;
  height: 1.62rem;
  overflow: hidden;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1.62rem;
}

.topcoat-icon--large {
  height: 2.499999998125rem;
  top: -2px;
  width: 2.499999998125rem;
}

a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    -webkit-touch-callout: none;
}

.topcoat-list {
    list-style: none;
}

ul {
    border-top: none !important;
    clear:both;
}

.chapter-list li {
    clear: both;
    position: relative;
    text-align: left;
}

/* clearfix for chapter */
.chapter::after {
    clear: both;
    content: "";
    display: block;
}

.sectionStatus {
    padding-left: .5em;
    padding-right: 1.5em;
}

.chevron {
    background: transparent url(images/next_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
/*    width: 20px;
    height: 20px;*/
    height: 40px;
    position: absolute;
    right: 12px;
    top: 15px;
    width: 28px;
}

#map {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 64px;
}

.tb-action-toggles {
    display: inline-block;
}

/* AI mobile icons */
.topcoat-icon--alert {
    background: url("images/alert.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--cancel {
    background: url("images/cancel.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--clipboard {
    background: url("images/clipboard.svg") no-repeat;
    padding: 0;
}
.topcoat-icon--info {
    background: url("images/info.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--undo {
    background: url("images/undo.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--more {
    background: url("images/more.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--placeholder-new {
    background: url("images/placeholder-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--placeholder-delete {
    background: url("images/placeholder-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--phrase-new {
    background: url("images/phrase-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--phrase-delete {
    background: url("images/phrase-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--retranslation-new {
    background: url("images/retranslation-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--retranslation-delete {
    background: url("images/retranslation-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--preview {
    background: url("images/preview.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--item-add {
    background: url("images/plus_pill.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--item-delete {
    background: url("images/minus_pill.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--prev {
    background: url("images/arrow_left.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--next {
    background: url("images/arrow_right.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float:right;
}
#projTitle {
    display: inline-block;
    width: 100%;
}
#projTitle h2 {
    display: inline-block;
    line-height: normal;
/*    padding: 6px; */
    text-overflow: ellipsis; 
    vertical-align: middle; 
    white-space: normal; 
    word-wrap: normal; 
}
.project {
	background-image: url("../svg/project.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#lang {
    bottom: 6px;
    left: 6px;
    position: absolute;
}
#help {
    background: url("images/question-white.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#globe {
    background: url("images/globe.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#book {
    background: url("images/book_open.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#document {
    background: url("images/document.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#sourceWords {
    background: url("images/source.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#targetWords {
    background: url("images/target.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#sandwich {
    background: url("../svg/listview.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#plus {
    background: url("images/plus.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#plus.blue {
    background: url("images/plus_blue.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*** Temporary ***
   Topcoat hasn't defined these styles yet, so this is purloined from the topcoat.io demo page
   remove it when upgrading to a Topcoat version that supports dropdown selections */

.side-nav__list__container {
    border-bottom:none;
    border-top:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    padding:0;
}
.topcoat-icon-button--quiet {
    color: white;
    text-shadow: none;
}
.topcoat-icon-button--quiet:hover {
    background-color: #3ca8dc; 
}
.topcoat-icon-button--quiet:focus,
.topcoat-icon-button--quiet:hover:focus {
    background-color: #2595cb; 
    border: 0;
}

.combo {
    border-bottom: none;
    margin: 0 14px 12px 8px;
}
.combo label {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 14px;
}
select.docNav {
    -webkit-align-items: flex-start;
    -webkit-appearance: none;
    -moz-appearance: button;
    background: url(images/drop-down-triangle.png) no-repeat 95% center rgb(221, 225, 225);
    border: 1px solid #9daca9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #454545;
    cursor: default;
    display: inline-block;
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 3rem;
    margin: 0;
    overflow: hidden;
    padding: 0 1.25rem;
    text-indent: 0;
    text-shadow: 0 -1px 0 #FFF;
    text-transform: none;
    vertical-align: top;
    white-space: pre;
    width: 250px;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb;
}
/*** end temporary topcoat stylings ***/
.marker {
	color: #009900; /*green*/
    direction: ltr; /* always display marker data ltr */
	display: block;
}
/* These get overwritten in AdaptViews.js */
.strip {
    display: inline;
    white-space: pre-wrap;
}
.strip:not(:first-child):before {
    content: "\A";
}
.strip:after {
    content: " ";
    display: inline-block;
}
/* case where we haven't emitted anything yet */
.strip-nb {
    display: inline-block;
}
/* preview mode (target display only) */
div.preview div.marker, div.preview div.source, div.preview div.filter {
    display: none;
}
div.preview div.block-height {
    height: 30px;
    line-height: 30px;
}
/* standard height for a pile / strip-header / chapter-number / filter:
*  gets overridden by a "real" computed height in addStyleRules (AdaptViews) */
/*
.block-height {
    height: 80px;
    line-height: 80px;  needed for vertical alignment of chapter / verse numbers 
}
*/
.strip-header {
    color: black;
    display: inline-block;
    padding: 0 0.3em;
    text-align: center;
    vertical-align: top;
}
.topcoat-list__item {
    padding: 1rem;
}
.chapter-number {
    font: 26px "Source Sans", helvetica, arial, sans-serif;
    /* vertical placement is centered by default -- no change needed */
}
.verse-number {
    line-height: normal;
    padding-top: 22px;
}
.preview .verse-number {
    padding-top:inherit;
}
.ui-selecting {
    background-color: rgb(116, 183, 241);
    background-color: hsl(208, 82%, 70%);
}
.ui-selected {
    background-color: rgb(185, 219, 248);
    background-color: hsl(208, 82%, 85%);
}
.ui-longSelecting {
    background-color: #1dd8af;
}
.pile {
    color: black;
    display: inline-block;
    min-width: 1rem;
    padding: 0 0.3em;
    vertical-align: top;
}
.source, .marker {
    word-wrap: break-word;
}
.target {
    background: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    font-size: 16px;
    line-height: 2rem;
    margin: 0;
    min-width: -webkit-fill-available;
    vertical-align: top;
    word-wrap: break-word;
}
.target:focus {
    background-color: #fff;
    border: 1px solid #0036ff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #6fb5f1;
    color: #454545;
}
.preview .target {
    color: inherit;
}
.preview .target:focus {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    color: inherit;
}
.cases {
    font-size: 1.1rem;
    height: 43.5rem;
    line-height: 1.5rem;
    padding: 1.25rem;
    width: 6rem;
}
#name-suggestions {
    border: 1px solid #949696;
    line-height: 1.4rem;
    max-height: 150px;
    overflow-y: auto;
    padding: 6px;
    z-index: 9999;
}
.autocomplete-suggestion {
    border-top: 1px solid #ccc;
}
.autocomplete-suggestion:hover {
    background: #ccc;
}
.topcoat-checkbox__checkmark {
    margin-right: 6px;
}
/* webkit and mozilla fix for cursor on mobile apps / contenteditable */
*[contenteditable] {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
/* force a paragraph break */
.para {
    clear: both;
    overflow: auto;
    width: 100%;
}
/* new paragraph */
.newpara {
    clear: left;
}
/* text colors */
/*div.strip div.source {*/
.source {
	color: #0000aa; /* blue */
}
div.specialtext div.source {
	color: #aa0000; /* red */
}
.retranslation {
	color: #996633; /* brown */
}
.differences {
	color: rgb(40, 100, 40); /* green */
}
.marker {
    color: #00cc00; /* light green */
    white-space: nowrap;
}
.fromkb {
    background-color: #ffaaff;
}

/* Filtered text -- rendered by the "classes" handlebar helper (see sourcephraselist.html / handlebarhelpers.js) */
.filter {
    background: url('../svg/filter.svg') no-repeat;
    background-size: cover;
    height: 14px;
    overflow: hidden;
    margin-bottom: 3em;
    width: 14px;
    text-indent: 100%;
    display: inline-block;
    padding: 2px;
    line-height: 3rem;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
}
div.filter > div {
    display: none;
}
/* secondary filters (not displayed in UI) */
.moreFilter {
    display: none;
}

#FilterInfo {
    display: none;
}

/* from adapt-it-copy */
ul.btns {
	display: block;
	list-style: none;
	margin: 6px;
	overflow: hidden;
    padding-inline-start: 0px;
} 
.btns li {
    clear: none;
    display: block;
	list-style: none;
    margin: 6px 8px;
    padding: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #e5e9e8;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #9daca9;
    border-radius: 6px;
}
.btns li a {
    -webkit-appearance: none;
    -moz-appearance: none;
	display: inline-block;
	padding: 12px 6px 12px 6px;
	position: relative;
	text-decoration: none;
    text-align: left;
    width: 100%;
    color: #454545;
}
.btns li :hover {
    color: black;
    font-weight: 400;
/*    background-color: #eee;*/
}
.btns li a :hover {
    border: none;
}
span.txt {
/*    padding-left: 32px;*/
/*    word-wrap: normal;*/
}
.light-bg {
    background-color: ghostwhite;
    border: 1px solid #aaa;
}
.no-bg {
    background: transparent;
    background-color: transparent;
    border: 1px transparent;
}
.no-bg :hover {
    background-color: transparent;
}
span.sprite{
    background-position: left;
	background-repeat: no-repeat;
	display: block;
    float: left;
	margin: 0;
    height: 32px;
    width: 32px;
}
.btn-clipboard{
	background-image: url("../svg/clipboard.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-file{
	background-image: url("../svg/file.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-newproject{
	background-image: url("../svg/project-new.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 28px;
}
.btn-copyproject{
	background-image: url("../svg/project-copy.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 28px;
}
.btn-search{
	background-image: url("../svg/search.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-project span.sprite{
	background-image: url("../svg/project.svg");
    background-size: 48px 48px;
}
.btn-export{
	background-image: url("../svg/share.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-settings{
	background-image: url("../svg/settings.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-adapt{
	background-image: url("../svg/pencil.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-import{
	background-image: url("../svg/download.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.project-folder {
    display: none;
}
.project-folder-open {
    display: table;
    height: 70%;
    position: absolute;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: top;
}
.inner {
    -webkit-appearance: none;
    background-color: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    width: 80%;
}


/* edb - table for usfm? */
.topcoat-table {
	border:1px solid #9daca9;
    border-collapse: separate;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
    border-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}
.topcoat-table th { 
/*    background-color:#aaa;*/
    background-color: #d2d6d6;
    color: #454545;
    font-size: 0.9em;
    font-weight: 800;
    padding: 4px 20px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.topcoat-table tr {
/*    line-height: 1.2rem;*/
}
.topcoat-table td {
    padding: 3px;
}
.topcoat-table tr:nth-child(odd){ background-color:#eee; }
.topcoat-table tr:nth-child(even)    { background-color:#fff; }
.hide {
    display: none;
}
/* progress bar  */
.progress-bar,
.topcoat-progress-bar {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.progress,
.topcoat-progress {
    display: block;
    height: 100%;
}

.topcoat-progress-bar {
    background-color: #d3d7d7;
    box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
    height: .25rem;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

.topcoat-progress-bar > .topcoat-progress {
  background-color: #58C0FF;
  border-radius: 0; 
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.progress--complete {
  width: 100%;
}

.hide {
    display: none;
}



/*
typeahead styles
*/
.tt-query,
.tt-hint, 
.tt-input {
    background-color: #fff;
}

.tt-hint, .tt-query {
    min-width: 1rem;
}

/* EDB 7/5/17 hacky hack: move dropdown up into target text as well as possible */
.twitter-typeahead {
    min-width: 1rem;
    top: -1.8rem;
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin: 6px 0;
}

.tt-suggestion {
    border-top: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.3rem;
/*    min-width: 4rem;*/
    overflow: hidden;
    padding: 10px 20px;
}

/* first item doesn't have a top border */
.tt-suggestion:nth-child(1) {
    border-top: none;
}

.tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  background-color: #0097cf;
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.dropdown {
	background: #2595cb;
	border: 3px solid #fff;
    -webkit-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    right: 102px; /* overwritten in AdaptViews */
    z-index: 2147483647; /* on top */
}
.dropdown:after, .dropdown:before {
	border: solid transparent;
	bottom: 100%;
	content: " ";
	height: 0;
	left: 50%;
	pointer-events: none;
	position: absolute;
	width: 0;
}

.dropdown:after {
	border-color: rgba(31, 123, 165, 0);
	border-bottom-color: #2595cb;
	border-width: 10px;
	margin-left: -10px;
}
.dropdown:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 13px;
	margin-left: -13px;
}

.show {
    display: block;
}

/***********
* media queries - for specific device sizes / screen resolutions
***********/

/* Smallest screen sizes
* display: more button
* hide: document title, toggle buttons, all button labels, help button
* example devices: Android ldpi phones
*/
@media screen and (max-width: 319px) {
/*
    .source, .target {
        max-width: 240px;
    }
*/
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 16px;
    }
    /* hidden items */
    .side-nav__list__item__label {
        display: none;
    }
    #DocTitle {
        display: none;
    }
    .tb-action-toggles {
        display: none;
    }
    #HelpBtn {
        display: none;
    }
    .topcoat-icon-button--quiet {
        padding: 0 .5rem;
    }
}

/* Small screen sizes (like smallest, but wider areas for source/target fields)
* display: more button
* hide: doc title, toggle buttons, all button labels
* example devices: iPhone 4, Android mdpi phones
*/
@media screen and (min-width: 320px) and (max-width : 479px) {
/*
    .source, .target {
        max-width: 320px;
    }
*/
    /* hidden items */
    #DocTitle {
        display: none;
    }
    .tb-action-toggles {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    /* displayed items */
    #HelpBtn {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}

/* Medium screen sizes
* display: more button, toggle buttons
* hide: doc title, all button labels
* example devices: iPhone 5, Android mdpi phones
*/
@media screen and (min-width: 480px) and (max-width : 639px) {
/*
    .source, .target {
        max-width: 480px;
    }
*/
    /* hidden items */
    #More {
        display: none;
    }
    #DocTitle {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    /* displayed items */
    .tb-action-toggles {
        display: inline-block;
    }
    #HelpBtn {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}

/* Larger screen sizes
* display: doc title, toggle buttons
* hide: more button, all button labels
* example devices: ipad, browser, Android tablets
*/
@media screen and (min-width: 640px) and (max-width : 999px) {
  /* iPhone, Android mdpi rules here */
/*
    .source, .target {
        max-width: 480px;
    }
*/
    /* hidden items */
    #More {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    #DocTitle {
        display: none;
    }
    /* displayed items */
    .tb-action-toggles {
        display: inline-block;
    }
    #HelpBtn {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}

/* Largest screen sizes
* display: doc title, toggle buttons, all button labels
* hide: more button
* example devices: browser, ipad (landscape)
*/
@media screen and (min-width: 1000px) {
  /* larger screen (browser?) */
/*
    .source, .target {
        max-width: 480px;
    }
*/
    /* shown items */
    .tb-action-toggles {
        display: inline-block;
        padding-right: 8px;
    }
    #HelpBtn {
        display: inline-block;
    }
    /* hidden items */
    #DocTitle {
        display: none;
    }
    #More {
        display: none;
    }
    /* display the button labels */
    .side-nav__list__item__label {
        display: inline;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}
