/* Color scheme for AIM */
/* 
  Base (light blue from AI icon): #2595cb;
  Dark blue: #1F7BA5; 
  lighter blue: #279ED8;
  Turquoise: #1dd8af;
  - secondary colors
  Cyan: #1ed6e2;
  Orange: #ff8c00;
  Burnt orange / brown: #b26200;
*/
/* embedded fonts */
@font-face {
    font-family: "Andika";
    src: url("../font/Andika-Regular.woff") format('woff');
}
@font-face {
    font-family: "Annapurna";
    src: url("../font/AnnapurnaSIL-Regular.woff") format('woff');
}
@font-face {
    font-family: "Doulos";
    src: url("../font/DoulosSIL-Regular.woff") format('woff');
}
@font-face {
    font-family: "Charis";
    src: url("../font/CharisSIL-Regular.woff") format('woff');
}
@font-face {
    font-family: "Gentium Plus";
    src: url("../font/GentiumPlus-Regular.woff") format('woff');
}
@font-face {
    font-family: "Scheherazade New";
    src: url("../font/ScheherazadeNew-Regular.woff") format('woff');
}
.bg-orange {
    background-color: #ff8c00;
    color: white;
}
.bg-burnt-orange {
    background-color: #b26200;
    color: white;
}
.filter-burnt-orange { /* CSS filter to display black as burnt orange */
    filter: invert(28%) sepia(67%) saturate(2780%) hue-rotate(33deg) brightness(101%) contrast(101%);
}
.filter-gray { /* CSS filter to display black as gray / disabled */
    filter: invert(62%) sepia(0%) saturate(268%) hue-rotate(139deg) brightness(98%) contrast(91%);
}
.bg-darkdarkblue {
    background-color: #12536d;
    color: white;
}
.bg-darkblue {
    background-color: #1F7BA5;
    color: white;
}
.bg-body {
    background-color: rgb(142, 186, 186);
    color: #454545;
}
.bg-gradient {
background: #2595cb; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2595cb 0%, #18607f 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2595cb), color-stop(100%,#18607f)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #2595cb 0%,#18607f 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #2595cb 0%,#18607f 100%); /* W3C */
}
.bg-blue {
    background-color: #2595cb;
    color: white;
}
.bg-lightblue {
    background-color: #279ED8;
    color: white;
}
.bg-turquise {
    background-color: #1dd8af;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    -webkit-touch-callout: none;
}
input[type="file"] {
    display: none;
}
.doc-search-bar {
    padding:8px 14px 12px 8px;
}

.doc-search-key {
    width: 100%;
}

/* featherlight / filter style overrides */
.featherlight-content {
    width: 90%;
}
.featherlight-inner {
    margin-left: 30px;
    margin-right: 30px;
}
.featherlight-inner h2 {
    border-bottom: 1px solid #333;
    font-weight: 800;
}
.featherlight-previous {
    left: 0;
    right: 90%;
}
.featherlight-previous span {
    color: #333;
    left: 0;
}
.featherlight-next {
    left: 90%;
    right: 0;
}
.featherlight-next span {
    color: #333;
}

.read-only {
    color: #933;
}
.read-write {
    color: #060;
}

/* welcome screen styles */
.splash-screen {
    /* fallback solid color */
    overflow: hidden;
    vertical-align: middle;
    width: 90%;
}

.welcome-screen {
    bottom:0;
    height: 100vh;
    top:0;
    width:100%;
}

.welcome-title {
    text-align: center;
}
.center {
    text-align: center;
}
.welcome-title h1 {
    font-size: 2rem;
    font-weight: 200;
    line-height: 100%;
/*    padding-bottom: 0.5rem;*/
}
.welcome-title h2 {
    font-size: 1.1rem;
    font-weight: 200;
    padding-bottom: 2rem;
    padding-top: .5rem;
}
.x-small-input {
    width: 4rem;
}
.small-input {
    width: 6rem;
}
.welcome-logo {
    background: url('../svg/adapt-it-mobile-white.svg') no-repeat;
    background-size: cover;
    height: 96px;
    margin: 0 auto 6px auto;
    width: 96px;
}

.waiting {
    /* image from http://www.ajaxload.info/, freely licensed under the WTFPL */
    background: url('images/ajax-loader.gif') no-repeat;
    background-size: cover;
    height: 11px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    width: 43px;
}
.vertcenter {
    direction: ltr; /* override any RTL setting on the chapter */
    left: 50%;
    position: absolute;
    top: 50%;
    -o-transform: translate(-70%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container {
    height: 72%; 
    position: relative;
    width: 100%;
}
.emphasized-small {
    font-size: 0.9rem;
    font-weight: 400;
}
.emphasized {
    color: #000;
    font-size: 1.1rem;
    font-weight: 800;
}
/* warning - dangerous operation */
.danger {
    color: darkred;
    font-weight: 800;
}
.deleted {
    color: red;
    font-style: italic;
}
.menu-disabled {
    color: #bbb;
    background-color: #eee;
}
.li-selected {
    background-color: #e9e9e9;
}
.topcoat-list li p:nth-of-type(2) {
    color:  #58C0FF ;
}
.topcoat-navigation-bar {
    height: auto;/*3.5rem;*/
    padding: 1px;
}
.topcoat-navigation-bar__item {
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
}
.main_title {
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    width:100%;
}
.small-pic {
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

.large-pic-bg {
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.large-pic {
    background-size: contain;
    bottom: 10px;
    display: none;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.page-body {
    padding: 14px 10px;
}

.topcoat-button-bar, .topcoat-icon-button--quiet {
    margin-top: 1px;
}
/* bigger hyperlink target */
.big-link {
    display:inline-block; 
    width:100%;
}
.tall-link {
    margin-bottom: 6px;
    margin-top: 6px;
}

h1 {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
}

h2 {
    color: inherit;
    font: inherit;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
}

h3 {
    clear: both;
    color: inherit;
    font: inherit;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding-top: 12px;
}

header h3 {
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-top: 0;
}
/* KB page elements */
.srcbox {
    background: #ccc;
    display: inline-block;
    height: 4rem;
    margin: 0;
    padding: 6px;
    vertical-align: top;
    width: calc(50% - 12px); /* overridden on smaller screens */
}
.tgtbox {
    background: #eee;
    display: inline-block;
    height: 4rem;
    margin: 0;
    padding: 6px;
    vertical-align: top;
    width: calc(50% - 12px); /* overridden on smaller screens */
}
.rsResults {
    display: none;
}
.freetrans {
    display: none;
    background-color: #2595cb;
    border-top: 1px solid #1f7ba5;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: absolute;
    top: 57px;
    height: 82px;
    left: 0;
    padding: 0px 1px;
    right: 0;
}
.ft-bar {
    justify-content: flex-end;
}
.ft-editor {
    flex: 1 100%;
    background-color: #eee;
}
.search-bar {
    display: none;
    background-color: rgb(214,218,220);
    border-top: 1px solid #1f7ba5;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 57px;
    height: 32px;
    left: 0;
    padding: 0px 1px;
    right: 0;
}
.search-label {
    padding: 6px;
}
.relative-search-bar {
    background-color: rgb(207,214,218);
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    height: 32px;
    width: 100%;
    padding: 0px 1px;
}
#SearchRS {
    flex-grow: 1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
}
button.search {
    border: 1px solid #333;
    background-color: #eee;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    width: 42px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    text-shadow: 1px 0 0 rgba(0,0,0,0.35);
}
button.search:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.35) inset;
}
button.search:disabled {
    opacity: .3;
}
button.lighter-blue {
    background-color: #279ED8;
    border-color: #279ED8;
}
button.light-grey {
    background-color: #e0e0e0;
    border-color: #CBCDCC;
}
.liActions {
    border-top: 1px solid #1F7BA5;
    display: none;
    margin-top: 16px;
    width: 100%;
}
.liActions button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    font-size: 100%;
    line-height: 1cm;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    appearance: button;
}
#WizardSteps, #OKCancelButtons {
    line-height: 0.5em;
    padding: 0;
    text-align: center;
}
#OKCancelButtons {
    padding-top: 6px;
}
#status {
    white-space: pre-line;
}
.wizard-instructions {
    padding: 6px 6px 6px 6px;
}
#lblExportDirections {
    height: 24px;
    background-color: beige;
    border: 1px white;
}

.action-button {
    display: block;
    margin: 4px 0;
    text-align: center;
}
/* main page scrolling content*/
.scroller {
    border-top: 1px solid #aaa;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 57px;
}
.with-search {
    top: 90px;
}
.with-ft {
    top: 140px;
}
/* most pages - top title bar, no toolbar */
.scroller-notb {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 57px;
}
/* wizard page scrolling content - leave room for ok / cancel / progress bar */
.scroller-bottom-tb {
    bottom: 61px;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 57px;
}
.bottom-tb {
    background: #eee;
    bottom: 0;
    left: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    position: fixed;
    right: 0;
}
/* indented controls (e.g., below radio buttons) */
.indent {
    height: 16px;
    padding-left: 34px;
}
.l-indent {
    padding-left: 6px;
}
.cl-indent {
    padding-left: 34px;
    background-color: #eee;
}
#Spacer {
    height: 280px;
    width: 100%;
}
.hscroller {
    height: 200px;
    left: 10px;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    right: 10px;
    top: 80px;
    white-space: nowrap;
}
.fixfixed .scroller-tb,
.fixfixed .actions-dropdown,
.fixfixed .main_title {
    position:absolute;
}
#pb-bg {
    background-color: #ccc;
}
#pbar {
    width: 1%;
    height: 6px;
    background-color: #1F7BA5;
}
.control-row {
    padding-bottom: 3px;
    padding-top: 3px;
}
.control-row-indent {
    padding-bottom: 3px;
    padding-left: 34px;
}
.control-group {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
/*    background: rgb(221, 225, 225);*/
    border: 1px solid #fafafa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 6px;
    overflow: hidden;
    padding: 6px;
/*    width: 95%;*/
}

.topcoat-icon--back {
    background: url("images/back_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--previous {
    background: url("images/prev_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--forward {
    background: url("images/forward_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-list__container {
    border-bottom: none;
    clear: both;
}

.topcoat-icon-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.topcoat-icon,
.topcoat-icon--large {
  display: inline-block;
  height: 1.62rem;
  overflow: hidden;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1.62rem;
}

.topcoat-icon--large {
  height: 2.499999998125rem;
  top: -2px;
  width: 2.499999998125rem;
}

a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    -webkit-touch-callout: none;
}

.topcoat-list {
    list-style: none;
    border-top: none;
}

ul {
    border-top: none !important;
    clear:both;
}

.chapter-list li {
    clear: both;
    position: relative;
    text-align: left;
}

/* more actions menu */
.dropdown-vertical {
	background: #fff;
	border: 1px solid #2595cb;
    -webkit-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    color: #333;
    display: none;
    margin-top: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    text-align: left;
    vertical-align: center;
    transition: all 0.5s ease;
    z-index: 2147483647; /* on top */
}
.dropdown-vertical div {
  padding: 1.1rem;
}
.dropdown-vertical div:hover {
    background: #eee;
}
.dropdown-vertical .label {
    margin-left: 1rem;
}

/* clearfix for chapter */
.chapter::after {
    clear: both;
    content: "";
    display: block;
}

.sectionStatus {
/*    display: inline-block;*/
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

.chevron {
    background: transparent url(images/next_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
/*    width: 20px;
    height: 20px;*/
    height: 40px;
    position: absolute;
    right: 12px;
    top: 15px;
    width: 28px;
}

#map {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 64px;
}

.tb-action-toggles {
    display: inline-block;
}

.action-toggles {
    display: none; /* overridden on individual toolbars */
}

#More-menu {
    display: inline-block;
}

#DocTitle {
    line-height: 56px;
    text-overflow: ellipsis;
}

/* AIM topcoat icons --
    These are usually combined with the topcoat-icon class to create a standalone icon, and do _not_ have a padding.
*/
.topcoat-icon--adjust {
    background: url("images/adjust.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--adjust-lt {
    background: url("images/adjust-light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--alert {
    background: url("images/alert.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--cancel {
    background: url("images/cancel.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--check {
    background: url("images/checkmark.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--clipboard {
    background: url("images/clipboard.svg") no-repeat;
    padding: 0;
}
.topcoat-icon--delete {
    background: url("images/delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--delete-light {
    background: url("images/delete-light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--grow {
    background: url("images/grow.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--grow-lt {
    background: url("images/grow-light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--info {
    background: url("images/info.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--undo {
    background: url("images/undo.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--undo-black {
    background: url("images/undo-black.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--plus-menu {
    background: url("images/plus-menu.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--plus-menu-ft {
    background: url("images/plus-menu-ft.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--more-menu {
    background: url("images/more-menu.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--ph-before-new {
    background: url("images/ph-before-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--ph-after-new {
    background: url("images/ph-after-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--ph-before-delete {
    background: url("images/ph-before-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--ph-after-delete {
    background: url("images/ph-after-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--placeholder-new {
    background: url("images/placeholder-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--placeholder-delete {
    background: url("images/placeholder-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--phrase-new {
    background: url("images/phrase-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--phrase-delete {
    background: url("images/phrase-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--retranslation-new {
    background: url("images/retranslation-new.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--retranslation-delete {
    background: url("images/retranslation-delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--preview {
    background: url("images/preview.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--search {
    background: url("../svg/search.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--shrink {
    background: url("images/shrink.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--shrink-lt {
    background: url("images/shrink-light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--item-add {
    background: url("images/plus_pill.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}

.topcoat-icon--item-delete {
    background: url("images/minus_pill.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--prev {
    background: url("images/arrow_left.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.topcoat-icon--next {
    background: url("images/arrow_right.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
}
.left {
    float: left;
}
.right {
    float:right;
}
#projTitle {
    display: inline-block;
    line-height: 56px;
    width: 100%;
}
#projTitle h2 {
    display: inline-block;
    line-height: normal;
/*    padding: 6px; */
    text-overflow: ellipsis; 
    vertical-align: middle; 
    white-space: normal; 
    word-wrap: normal; 
}
.project {
	background-image: url("../svg/project.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#lang {
    bottom: 6px;
    left: 6px;
    position: absolute;
}
#help {
    background: url("images/question.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#globe {
    background: url("images/globe.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#translations {
    background: url("images/book_open.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#document {
    background: url("images/document.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#sourceWords {
    background: url("images/source.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#targetWords {
    background: url("images/target.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#sandwich {
    background: url("../svg/listview.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#plus {
    background: url("images/plus.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#plus.blue {
    background: url("images/plus_blue.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*** Temporary ***
   Topcoat hasn't defined these styles yet, so this is purloined from the topcoat.io demo page
   remove it when upgrading to a Topcoat version that supports dropdown selections */

.side-nav__list__container {
    border-bottom:none;
    border-top:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    padding:0;
}
.topcoat-icon-button--quiet {
    color: white;
    text-shadow: none;
}
.topcoat-icon-button--quiet:hover {
    background-color: #3ca8dc; 
}
.topcoat-icon-button--quiet:focus,
.topcoat-icon-button--quiet:hover:focus {
    background-color: #2595cb; 
    border: 1px solid transparent;
}

.combo {
    border-bottom: none;
    margin: 0 14px 12px 8px;
}
.combo label {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 14px;
}
select.docNav {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(images/drop-down-triangle.png) no-repeat 95% center rgb(221, 225, 225);
    border: 1px solid #9daca9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #454545;
    cursor: default;
    display: inline-block;
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 3rem;
    margin: 0;
    overflow: hidden;
    padding: 0 1.25rem;
    text-indent: 0;
    text-shadow: 0 -1px 0 #FFF;
    text-transform: none;
    vertical-align: top;
    white-space: pre;
    width: 250px;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}
/*** end temporary topcoat stylings ***/
.marker {
	color: #009900; /*green*/
    direction: ltr; /* always display marker data ltr */
	display: block;
}
/* These get overwritten in AdaptViews.js */
.strip {
    display: inline;
    white-space: pre-wrap;
}
.strip:not(:first-child):before {
    content: "\A";
}
.strip:after {
    content: " ";
    display: inline-block;
}
/* case where we haven't emitted anything yet */
.strip-nb {
    display: inline-block;
}
/* preview mode (target display only) */
div.preview div.marker, div.preview div.source, div.preview div.filter {
    display: none;
}
div.preview div.block-height {
    height: 30px;
    line-height: 30px;
}
div.preview div.pile {
    min-width: 0;
    padding: 0 1px;
}
/* standard height for a pile / strip-header / chapter-number / filter:
*  gets overridden by a "real" computed height in addStyleRules (AdaptViews) */
/*
.block-height {
    height: 80px;
    line-height: 80px;  needed for vertical alignment of chapter / verse numbers 
}
*/
.strip-header {
    color: black;
    display: inline-block;
    padding: 0 0.3em;
    text-align: center;
    vertical-align: top;
}
.topcoat-list__header {
    padding-left: 1rem;
}
.topcoat-list__item {
    padding: 1rem;
}
.chapter-number {
    font: 26px "Source Sans", helvetica, arial, sans-serif;
    /* vertical placement is centered by default -- no change needed */
}
.verse-number {
    line-height: normal;
    padding-top: 22px;
}
.preview .verse-number {
    padding-top:inherit;
}
.ui-selecting {
    background-color: rgb(116, 183, 241);
    background-color: hsl(208, 82%, 70%);
}
.ui-selected {
    background-color: rgb(185, 219, 248);
    background-color: hsl(208, 82%, 85%);
}
.ui-longSelecting {
    background-color: #1dd8af;
}
.pile {
    color: black;
    display: inline-block;
    min-width: 1rem;
    padding: 0 0.3em 0.3em 0.3em;
    vertical-align: top;
}
.source, .marker {
    word-wrap: break-word;
}
.refstring-list__item {
    background: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    line-height: 2rem;
    margin: 0;
    width: calc(100% - 48px);
    vertical-align: top;
    word-wrap: break-word;
}
.refstring-list__item:focus {
    background-color: #fff;
    border: 1px solid #0036ff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #6fb5f1;
    color: #454545;
}
.gloss {
    background: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: MediumSeaGreen;
    font: inherit;
    font-size: 16px;
    margin: 0;
    min-width: -webkit-fill-available;
    vertical-align: top;
    word-wrap: break-word;
}
.gloss:focus {
    background-color: #fff;
    border: 1px solid #0036ff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #6fb5f1;
    color: #454545;
}
.ft {
    background: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #b26200;
    font: inherit;
    font-size: 16px;
    margin: 0;
    min-width: -webkit-fill-available;
    vertical-align: top;
    word-wrap: break-word;
}
.target {
    background: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    font-size: 16px;
    line-height: 2rem;
    margin: 0;
    min-width: -webkit-fill-available;
    vertical-align: top;
    word-wrap: break-word;
}
.target:focus {
    background-color: #fff;
    border: 1px solid #0036ff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #6fb5f1;
    color: #454545;
}
.preview .target {
    color: inherit;
}
.preview .target:focus, .noedit:focus {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0 2px transparent;
    color: inherit;
}
.cases {
    font-size: 1.1rem;
    height: 43.5rem;
    line-height: 1.5rem;
    padding: 1.25rem;
    width: 6rem;
}
#name-suggestions {
    border: 1px solid #949696;
    line-height: 1.4rem;
    max-height: 150px;
    overflow-y: auto;
    padding: 6px;
    z-index: 9999;
}
.autocomplete-suggestion {
    border-top: 1px solid #ccc;
}
.autocomplete-suggestion:hover {
    background: #ccc;
}
.subtext {
    display: block;
    font-size: 0.6rem;
    color: #999;
}
.topcoat-checkbox__checkmark {
    margin-right: 6px;
}
/* webkit and mozilla fix for cursor on mobile apps / contenteditable */
*[contenteditable] {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
/* force a paragraph break */
.para {
    clear: both;
    overflow: auto;
    width: 100%;
}
/* new paragraph */
.newpara {
    clear: left;
}
/* text colors */
/*div.strip div.source {*/
.source {
	color: #0000aa; /* blue */
}
div.specialtext div.source {
	color: #aa0000; /* red */
}
.retranslation {
	color: #996633; /* brown */
}
.differences {
	color: rgb(40, 100, 40); /* green */
}
.marker {
    color: #00cc00; /* light green */
    white-space: nowrap;
}
.fromkb {
    background-color: #ffaaff;
}
.meter-dashed {
    height: 10px;
    width: 32px;
    position: relative;
    background: #aaa;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 1px;
    margin-top: 8px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter-dashed > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #279ED8;
    background-image: linear-gradient(center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.li-tu {
    /* less padding on top/bottom */
    padding: .5rem 1rem .5rem 1rem;
}

#StepContainer {
    position: static;
}

/* Filtered text -- rendered by the "classes" handlebar helper (see sourcephraselist.html / handlebarhelpers.js) */
.filter {
    background: url('../svg/filter.svg') no-repeat;
    background-size: cover;
    height: 14px;
    overflow: hidden;
    margin-bottom: 3em;
    width: 14px;
    text-indent: 100%;
    display: inline-block;
    padding: 2px;
    line-height: 3rem;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
}
div.filter > div {
    display: none;
}
/* secondary filters (not displayed in UI) */
.moreFilter {
    display: none;
}

#FilterInfo {
    display: none;
}

ul.btns {
	display: block;
	list-style: none;
	margin: 6px;
	overflow: hidden;
    padding-inline-start: 0;
} 
.btns li {
    clear: none;
    display: block;
	list-style: none;
    margin: 6px 8px;
    padding: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    /* vertical-align: top; */
    background-color: #e5e9e8;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #9daca9;
    border-radius: 6px;
}
.btns li a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	display: inline-block;
	padding: 12px 6px 12px 6px;
	position: relative;
	text-decoration: none;
    text-align: left;
    width: 100%;
    color: #454545;
}
.btns li :hover {
    color: black;
    font-weight: 400;
}
.btns li a :hover {
    border: none;
}
.light-bg {
    background-color: ghostwhite;
    border: 1px solid #aaa;
}
.no-bg {
    background: transparent;
    background-color: transparent;
    border: 1px transparent;
}
.no-bg :hover {
    background-color: transparent;
}
/* small images for buttons - 1.3.0 used for search bar */
.img-cancel-small {
	background-image: url("images/cancel.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    vertical-align: sub;
    width: 18px;
}
.img-left-small {
	background-image: url("images/back.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    vertical-align: sub;
    width: 18px;
}
.img-right-small {
	background-image: url("images/forward.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    vertical-align: sub;
    width: 18px;
}
.img-plus-small {
	background-image: url("images/plus.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    vertical-align: sub;
    width: 18px;
}


/* AIM buttons -- these have a 6px margin before/after (unlike the topcoat-icon guys above) */
.btn-adapt {
	background-image: url("../svg/pencil.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-book {
	background-image: url("images/book.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.li-selected .btn-book {
	background-image: url("images/book_open.svg");
}
.btn-cancel {
	background-image: url("images/cancel.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-check {
	background-image: url("images/checkmark.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-clipboard{
	background-image: url("../svg/clipboard.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-connectproject {
	background-image: url("../svg/project-connect.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 28px;
}
.btn-copyproject{
	background-image: url("../svg/project-copy.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 28px;
}
.btn-delete{
	background-image: url("images/delete.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-export{
	background-image: url("../svg/share.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-file{
	background-image: url("../svg/file.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-import{
	background-image: url("../svg/download.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-kb{
	background-image: url("../svg/kb.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-glosskb {
	background-image: url("../svg/gloss-kb.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-newproject{
	background-image: url("../svg/project-new.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 28px;
}
.btn-pencil {
	background-image: url("../svg/pencil.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-search{
	background-image: url("../svg/search.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.btn-settings{
	background-image: url("../svg/settings.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: sub;
    width: 25px;
}
.project-folder {
    display: none;
}
.project-folder-open {
    display: table;
    height: 70%;
    position: absolute;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: top;
}
.inner {
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px #949696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    width: 80%;
}


/* edb - table for usfm? */
.topcoat-table {
	border:1px solid #9daca9;
    border-collapse: separate;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
    border-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}
.topcoat-table th { 
/*    background-color:#aaa;*/
    background-color: #d2d6d6;
    color: #454545;
    font-size: 0.9em;
    font-weight: 800;
    padding: 4px 20px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.topcoat-table td {
    padding: 3px;
}
.topcoat-table tr:nth-child(odd){ background-color:#eee; }
.topcoat-table tr:nth-child(even)    { background-color:#fff; }
.hide {
    display: none;
}
/* progress bar  */
.progress-bar,
.topcoat-progress-bar {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.progress,
.topcoat-progress {
    display: block;
    height: 100%;
}

.topcoat-progress-bar {
    background-color: #d3d7d7;
    box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
    height: .25rem;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

.topcoat-progress-bar > .topcoat-progress {
  background-color: #58C0FF;
  border-radius: 0; 
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.progress--complete {
  width: 100%;
}

.hide {
    display: none;
}



/*
typeahead styles
*/
.tt-query,
.tt-hint, 
.tt-input {
    background-color: #fff;
}

.tt-hint, .tt-query {
    min-width: 1rem;
}

/* EDB 7/5/17 make sure there's enough width on the dropdown */
.twitter-typeahead {
    min-width: 1rem;
}

.full .twitter-typeahead {
    width:100%;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 175px;
    overflow-y: auto;
}
.tt-menu::-webkit-scrollbar {
    background-color: rgb(221, 225, 225);
    width: 12px;
}
.tt-menu::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.tt-menu::-webkit-scrollbar-track {
    background-color: rgb(221, 225, 225);
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin: 6px 0;
}

.tt-suggestion {
    border-top: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.3rem;
/*    min-width: 4rem;*/
    overflow: hidden;
    padding: 10px 20px;
}

/* first item doesn't have a top border */
.tt-suggestion:nth-child(1) {
    border-top: none;
}

.tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  background-color: #0097cf;
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.actions-dropdown {
	background: #2595cb;
	border: 3px solid #fff;
    -webkit-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    display: none;
    position: fixed;
    right: 70px; /* overwritten in AdaptViews */
    z-index: 2147483647; /* on top */
}
.actions-dropdown:after, .actions-dropdown:before {
	border: solid transparent;
	bottom: 100%;
	content: " ";
	height: 0;
	left: 50%;
	pointer-events: none;
	position: absolute;
	width: 0;
}

.actions-dropdown:after {
	border-color: rgba(31, 123, 165, 0);
	border-bottom-color: #2595cb;
	border-width: 10px;
	margin-left: -10px;
}
.actions-dropdown:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 13px;
	margin-left: -13px;
}
.actions-smaller {
    right: 90px;
}
.li-chk {
    display: none;
	background-image: url("images/chk_clear.svg");
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    height: 22px;
    margin: 3px;
    vertical-align: sub;
    width: 22px;    
}
.chk-selected {
    background-image: url("images/chk_selected.svg");
}
.show {
    display: block;
}
.show-flex {
    display: flex;
}
.show-button {
    display: inline-block;
}
.invisible {
    visibility: hidden;
}
/***********
* media queries - for specific device sizes / screen resolutions
***********/

/* Smallest screen sizes
* display: Back, Undo, Plus menu, Move back, Move forward, More actions menu
* hide: document title, toggle buttons, all button labels
* example devices: Android ldpi phones
*/
@media screen and (max-width: 319px) {
    /* hidden items */
    .side-nav__list__item__label {
        display: none;
    }
    #DocTitle {
        display: none;
    }
    .tb-action-toggles {
        display: none;
    }
    .topcoat-icon-button--quiet {
        padding: 0 .5rem;
    }
    .srcbox, .tgtbox {
        width: 100%;
    }
    /* displayed items */
    #Plus-menu {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 16px;
    }
}

/* Small screen sizes (like smallest, but wider areas for source/target fields)
* display: Back, Undo, Plus menu, Move back, Move forward, More actions menu
* hide: document title, toggle buttons, all button labels
* example devices: most iPhones (portrait), Android mdpi phones
*/
@media screen and (min-width: 320px) and (max-width : 469px) {
    /* hidden items */
    #DocTitle {
        display: none;
    }
    .tb-action-toggles {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    .srcbox, .tgtbox {
        width: 100%;
    }
    /* displayed items */
    #Plus-menu {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}

/* Medium screen sizes
* display: Back, Undo, Placeholder, Phrase, Retranslation, Move back, Move forward, More actions menu
* hide: Plus menu, doc title, all button labels
* example devices: most iPhones (landscape), Android mdpi phones; iPad, browser, Android tablets
*/
@media screen and (min-width: 470px) and (max-width : 699px) {
    /* hidden items */
    #Plus-menu {
        display: none;
    }
    #DocTitle {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    /* displayed items */
    .tb-action-toggles {
        display: inline-block;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}

/* Largest screen sizes
* display: Back, Undo, Document title, Placeholder, Phrase, Retranslation, Move back, Move forward, More actions menu
* hide: Plus menu buttons, all button labels
* example devices: browser, iPad; some devices in landscape mode
*/
@media screen and (min-width: 700px) {
    /* shown items */
    .tb-action-toggles {
        display: inline-block;
    }
    #DocTitle {
        display: inline;
        width: calc(100% - 470px);
    }
    /* hidden items */
    #Plus-menu {
        display: none;
    }
    .side-nav__list__item__label {
        display: none;
    }
    #chapter {
        background-color: rgb(223,226,226);
        margin-right: 1rem;
    }
}
