<!doctype html>
<html class="no-js" lang="{{ site.language}} ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="google-site-verification" content="{{ site.google-verification }}">
    <meta name=keywords content="mobile, adaptation, translation editor, cordova, android, ios"> 
    <meta name=author content="Adapt It Mobile contributors"> 
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl }}/assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl }}/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl }}/assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl }}/assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl }}/assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl }}/assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl }}/assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl }}/assets/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.baseurl }}/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.baseurl }}/assets/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.baseurl }}/assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.baseurl }}/assets//img/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="{{site.baseurl }}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{site.baseurl }}/assets/img/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="{{site.baseurl }}/assets/img/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl }}/assets/img/icons/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="{{site.baseurl }}/assets/css/app.css">
    <link rel="stylesheet" href="{{site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <!-- Compressed JavaScript -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
