{% include head.html %}
<div class="off-canvas-wrapper">
    <!-- off canvas menu -->
    <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
        <ul>
        {% include components/nav-menu.html %}
        </ul>
    </div>
    <!-- mobile navigation -->
    <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar show-for-small-only">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="mobile-menu"></button>
                <span class="title-bar-title">Adapt It Mobile</span>
            </div>
        </div>
        <!--desktop navigation -->
        <nav id="header" class="top-bar nav-desktop">
            <div class="wrap">
                <div class="top-bar-left">
                    <h3 class="site-logo"><a href="{{ site.baseurl }}/"><div class="small-icon"></div>Adapt It Mobile</a></h3>
                </div>
                <div class="top-bar-right">
                    <ul class="menu simple">
                    {% include components/nav-menu.html %}
                    </ul>
                </div>
            </div>
        </nav>