<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.sil.aimobile"
        versionCode = "1" 
        version     = "0.1.0"
        defaultlocale = "en">
    <name short="adapt-it-mobile" xml:lang="en">adapt-it-mobile</name>
    <description xml:lang="en">
        An open source application for translating between related languages.
    </description>
    <author email="developers@adapt-it.org" href="http://adapt-it.org/">
        Adapt It Team
    </author>
    <content src="index.html" />
    <!-- allow local access -->
    <access origin="*" />
    <!-- preferences -->
    <preference name="fullscreen" value="true" />
    <!-- core plugins -->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <!-- icons for each platform -->
    <icon src="icon.png"/>
    <icon src="../assets/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="../assets/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="../assets/icon/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="../assets/icon/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="../assets/icon/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="../assets/icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="../assets/icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="../assets/icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="../assets/icon/windows-phone/icon.png" gap:platform="winphone" />
    <icon src="../assets/icon/windows-phone/tileicon.png" gap:platform="winphone" gap:role="background" /> 
    <!-- splash screens -->
</widget>
