<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.sil.aimobile"
        versionCode = "1" 
        version     = "0.1.0"
        defaultlocale = "en">
    <name short="adapt-it-mobile" xml:lang="en">adapt-it-mobile</name>
    <description xml:lang="en">
        An open source application for translating between related languages.
    </description>
    <author email="developers@adapt-it.org" href="http://adapt-it.org/">
        Adapt It Team
    </author>
    <content src="index.html" />
    <!-- allow local access -->
    <access origin="*" />
    <!-- preferences -->
    <preference name="phonegap-version" value="3.3.0" />
    <!-- <preference name="fullscreen" value="true" /> -->
    <!-- core plugins -->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <!-- icons for each platform -->
    <icon src="icon.png"/>
    <icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="res/icon/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="res/icon/windows-phone/icon.png" gap:platform="winphone" />
    <icon src="res/icon/windows-phone/tileicon.png" gap:platform="winphone" gap:role="background" /> 
    <!-- splash screens -->
    <gap:splash src="splash.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait_2x.png" width="640" />
    <gap:splash gap:platform="ios" width="640" height="1136" src="res/screen/ios/screen-iphone5-portrait.png" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash gap:platform="ios" width="2048" height="1496" src="res/screen/ios/screen-ipad-landscape_2x.png" />
    <gap:splash gap:platform="ios" width="1536" height="2048" src="res/screen/ios/screen-ipad-portrait_2x.png" />
</widget>
