<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "org.adaptit.adaptitmobile"
        versionCode = "1" 
        version     = "0.5.5"
        defaultlocale = "en">
    <name short="adapt-it-mobile" xml:lang="en">Adapt It Mobile</name>
    <description xml:lang="en">
        An open source application for translating between related languages.
    </description>
    <author email="developers@adapt-it.org" href="http://adapt-it.org/">
        Adapt It Team
    </author>
    <content src="index.html" />
    <!-- allow local access -->
    <access origin="*" />
    <!-- for Blackberry 10 -->
    <feature name="File" value="File" />
    <!-- preferences -->
    <preference name="android-build-tool" value="gradle" />        
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="Orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="iosExtraFilesystems" value="documents,documents-nosync,cache,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,root" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <!-- PhoneGap Build - core plugins -->
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-file" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />
    <plugin name="cordova-plugin-globalization" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <plugin name="cordova-plugin-fonts" source="npm" />
<!--    <plugin name="cordova-plugin-crosswalk-webview" source="npm" spec="1.4.0" />-->
    <plugin name="cordova-sqlite-storage" source="npm" />

    <!-- PhoneGap Build - config-file tweaks - orientation (iOS) and allowing sdcard reading (Android)
    (see http://phonegap.com/blog/2014/01/30/customizing-your-android-manifest-and-ios-property-list-on-phonegap-build/)
    -->
    <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
        <array>
          <string>UIInterfaceOrientationPortrait</string>
          <string>UIInterfaceOrientationLandscapeLeft</string>
          <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
    </gap:config-file>
    <gap:config-file platform="android" parent="/manifest" mode="replace">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </gap:config-file>
    <feature name="fonts">
        <param name="ios-package" value="CDVFonts" />
    </feature>
    <!-- icons and splash screens for each platform -->
    <icon src="icon.png"/>
    <platform name="android">
        <!-- icons -->
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <!-- splash screens -->
        <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi" />
        <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi" />
        <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi" />
        <splash src="res/screen/android/screen-xdpi-portrait.png" density="port-xhdpi" />
    </platform>
    <!-- amazon's fireos uses the android icons -->
    <platform name="amazon-fireos">
        <!-- icons -->
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <!-- splash screens -->
        <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi" />
        <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi" />
        <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi" />
        <splash src="res/screen/android/screen-xdpi-portrait.png" density="port-xhdpi" />
    </platform>
    <platform name="ios">
        <!-- preferences -->
        <preference name="Orientation" value="all" />
        <!-- icons -->
        <!-- iPhone / iPod / iPad -->
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/icon/ios/icon-83@2x.png" width="167" height="167" />
        <!-- Spotlight icons -->
        <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87" />
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
        <!-- splash screens -->
        <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="res/screen/ios/screen-iphone-portrait_2x.png" width="640" height="960" />
        <splash src="res/screen/ios/screen-iphone5-portrait.png" width="640" height="1136" />
        <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024" />
        <splash src="res/screen/ios/screen-ipad-portrait_2x.png" width="1536" height="2048" />
        <splash src="res/screen/ios/screen-ipad-landscape.png" width="1024" height="768" />
        <splash src="res/screen/ios/screen-ipad-landscape_2x.png" width="2048" height="1536" />
        <splash src="res/screen/ios/screen-iphone6-portrait_2x.png" width="750" height="1334"/>
        <splash src="res/screen/ios/screen-iphone6-landscape_2x.png" width="1334" height="750"/>
        <splash src="res/screen/ios/screen-iphone6p-portrait_3x.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/screen-iphone6p-landscape_3x.png" width="2208" height="1242"/>        
    </platform>
    <platform name="firefoxos">
        <icon src="res/icon/firefoxos/icon-60.png" width="60" height="60" />
    </platform>
    <platform name="wp8">
        <icon src="res/icon/windows-phone/icon.png" gap:platform="winphone" />
        <icon src="res/icon/windows-phone/tileicon.png" gap:platform="winphone" gap:role="background" /> 
        <splash src="res/screen/windows-phone/screen-portrait.jpg" />
    </platform>
    <platform name="windows8">
    </platform>
    <!-- splash screens -->
    <gap:splash src="splash.png" />
</widget>
