.main_title {
    padding-top: 20px;
}
.scroller {
    top: 90px;
}
.scroller-notb {
    top: 72px;
}
.scroller-tb {
    top: 132px;
}
/* iOS -- hide the prev/next toolbar buttons (they are on the on-screen keyboard) */
#NextSP {
    display: none;
}
#PrevSP {
    display: none;
}