/* iOS-specific styles */
/* Most of these are due to the top status line that overlaps HTML text. Apple
*  recommends padding the top with the same color (i.e., the padding-top on the main_title style below);
*  the other scroller styles are also bumped down to accomodate for this extra space. */
.main_title {
    padding-top: 20px;
}
.scroller {
    top: 90px;
}
.scroller-notb {
    top: 72px;
}
.scroller-tb {
    top: 72px;
}
.scroller-bottom-tb {
    top: 72px;
}