/* iOS-specific styles */
/* Most of these are due to the top status line that overlaps HTML text. Apple
*  recommends padding the top with the same color (i.e., the padding-top on the main_title style below);
*  the other scroller styles are also bumped down to accomodate for this extra space. Also note that this
*  value varies from model to model. On the non-notched phones, it's 20px; on the iPhone X it's 44px.
*  Apple recommends using the safe-area-inset-<x> vars. */
.main_title {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top, 20px); /* iOS 11.2 */
}
.bottom-tb {
    padding-bottom: calc(env(safe-area-inset-bottom) + 6px);
}
#projTitle {
    line-height:52px;
}
.scroller {
    bottom: 0;
    bottom: calc(env(safe-area-inset-bottom));
    left: calc(env(safe-area-inset-left));
    right: calc(env(safe-area-inset-right));
    top: 103px;
    top: calc(env(safe-area-inset-top) + 52px);
}
.scroller-notb {
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    top: 96px;
    top: calc(env(safe-area-inset-top) + 52px);
}
.scroller-tb {
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    top: 96px;
    top: calc(env(safe-area-inset-top) + 58px);
}
.scroller-bottom-tb {
    bottom: calc(env(safe-area-inset-bottom) + 61px);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    top: 96px;
    top: calc(env(safe-area-inset-top) + 52px);
}
@keyframes redraw{
    0% {opacity: 1;}
    100% {opacity: .99;}
}
animation: redraw 1s linear infinite;