---
layout: default
---

<!-- announcements -->
<div class="announce">
    <div class="wrap">Version 1.17.0 now available! <b><a href="https://adapt-it.github.io/adapt-it-mobile/blog/2024/1170ga-release/">Get the details here.</a><b>
    </div>
</div>
<!-- hero section -->
<section class="hero">
    <div class="wrap">
        <div class="hero-line"><img src="{{site.baseurl }}/assets/img/aim_main.png" id="img-main" alt="Adapt It Mobile logo" title="adapt it mobile" /></div>
        <div class="hero-line">
            <div class="tag-line">Translate between related languages on your mobile device.</div>
            <div><a href='https://itunes.apple.com/us/app/adapt-it-mobile/id1031605993?ls=1&mt=8'><img alt='Download on the App Store' src='https://raw.githubusercontent.com/adapt-it/adapt-it-mobile/gh-pages/assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png' /></a>     <a href='https://play.google.com/store/apps/details?id=org.adaptit.adaptitmobile&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' height='60' width='155' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></div>
        </div>
    </div>
</section>
<!-- main section -->
<section class="promo">
    <div class="wrap">
        <div class="benefits">
            <div class="benefit"><div class="b-img"><span class="fa-solid fa-language fa-3x"></span></div><div class="b-header">Create translation drafts</div><div class="b-desc">Quickly and accurately produce draft translations of text.<br><b><a href="{{ site.baseurl }}/about/draft-translations">Read More...</a><b></div></div>
            <div class="benefit"><div class="b-img"><span class="fa-solid fa-list-check fa-3x"></span></div><div class="b-header">Check your translations</div><div class="b-desc">Produce materials that can be used for translation consultant checks.<br><b><a href="{{ site.baseurl }}/about/translation-checks">Read More...</a><b></div></div>
          <div class="benefit"><div class="b-img"><span class="fa-solid fa-book fa-3x"></span></div><div class="b-header">Build a lexicon</div><div class="b-desc">Export lexical data from Adapt It Mobile, or import from another tool.<br><b><a href="{{ site.baseurl }}/about/lexicons">Read More...</a><b></div></div>
        </div>
    </div>
</section>
