---
layout: default
---

<!-- announcements -->
<div class="announce">
    <div class="wrap">Version 1.0.0 now available for iOS and Android! <b><a href="https://adapt-it.github.io/adapt-it-mobile/blog/2018/100ga-release/">Get the details.</a><b>
    </div>
</div>
<!-- hero section -->
<section class="hero">
    <div class="wrap">
        <div class="tag-line">Translate between related languages on your mobile device.</div>
        <img src="{{site.baseurl }}/assets/img/aim_main.png" title="adapt it mobile" />
    </div>
</section>
<!-- main section -->
<section class="promo">
    <div class="wrap">
        <div class="benefits">
            <div class="benefit"><span class="fa fa-apple fa-5x"></span> <span class="fa fa-plus fa-lg" style="vertical-align: middle"></span> <span class="fa fa-android fa-5x"></span><div class="b-header">Multiplatform</div><div class="b-desc">Work on a tablet or smartphone. Adapt It Mobile is compatible with both Apple and Android devices.</div></div>
            <div class="benefit"><div class="fa fa-pencil fa-5x"></div><div class="b-header">Simple, focused translation</div><div class="b-desc">Adapt It Mobile is designed specifically for mobile devices, with the same powerful adaptation engine found in the desktop version of Adapt It.</div></div>
            <div class="benefit"><div class="fa fa-file-o fa-5x"></div><div class="b-header">Work with text or Paratext files</div><div class="b-desc">Import .usx, .usfm, Adapt It .xml or plain-text files for adaptation. When you're done, you can export the files to your favorite editor for further revision and publication.</div></div>
        </div>
    </div>
</section>
